@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: url("/town-4570588.jpg");
  object-fit: cover;
  background-size: cover;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
@layer utilities{
  
  .hover{
    @apply hover:-translate-y-1  
  }
  .hovernav{
    @apply hover:-translate-y-1 hover:bg-black  hover:bg-opacity-10 hover:rounded-full hover:p-3
  }
}